extends layout.pug

block content
  h1 Conversation List
  p.lead
    | Your conversations are displayed below with download options.
  .panel.panel-default
    .panel-heading
    .panel-body
      span.snippet #{conversation}
